.wrapper {
  width: 378px;
  height: 119.0px;
  margin: 2% calc(50% - (378/2) * 1px);
  perspective: 800px;
}
.wrapper .side {
  position: absolute;
  transform-style: preserve-3d;
  width: 50px;
  height: 115.0px;
  float: left;
  margin: 2px;
  color: black;
}
.wrapper .side:nth-child(odd) {
  color: #005BBB;
}
.wrapper .side:nth-child(even) {
  color: #A5D867;
}

.wrapper .side:nth-child(1) {
  left: 0px;
  animation-delay: 0s;
}
.wrapper .side:nth-child(2) {
  left: 0px;
  animation-delay: 0s;
}
.wrapper .side:nth-child(3) {
  left: 54px;
  animation-delay: 0.1s;
}
.wrapper .side:nth-child(4) {
  left: 54px;
  animation-delay: 0.1s;
}
.wrapper .side:nth-child(5) {
  left: 108px;
  animation-delay: 0.2s;
}
.wrapper .side:nth-child(6) {
  left: 108px;
  animation-delay: 0.2s;
}
.wrapper .side:nth-child(7) {
  left: 162px;
  animation-delay: 0.3s;
}
.wrapper .side:nth-child(8) {
  left: 162px;
  animation-delay: 0.3s;
}
.wrapper .side:nth-child(9) {
  left: 216px;
  animation-delay: 0.4s;
}
.wrapper .side:nth-child(10) {
  left: 216px;
  animation-delay: 0.4s;
}
.wrapper .side:nth-child(11) {
  left: 270px;
  animation-delay: 0.5s;
}
.wrapper .side:nth-child(12) {
  left: 270px;
  animation-delay: 0.5s;
}
.wrapper .side:nth-child(13) {
  left: 324px;
  animation-delay: 0.6s;
}
.wrapper .side:nth-child(14) {
  left: 324px;
  animation-delay: 0.6s;
}
.wrapper .front {
  background: #A5D867;
  backface-visibility: hidden;
  z-index: 10;
  animation: Frontflip ease 2.4s infinite;
}
.wrapper .back {
  background: #005BBB;
  animation: Backflip ease 2.4s infinite;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
}

@keyframes Frontflip {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}
@keyframes Backflip {
  0% {
    transform: rotateX(0deg) rotateZ(180deg) rotateY(180deg);
  }
  50% {
    transform: rotateX(180deg) rotateZ(180deg) rotateY(180deg);
  }
  100% {
    transform: rotateX(360deg) rotateZ(180deg) rotateY(180deg);
  }
}
